<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resource Owner Password Credentials</title>
</head>
<body>

<div id="login-block">
    <form id="login-form">
        <label for="username">Username</label><input name="username" id="username" type="text">
        <label for="password">Password</label><input name="password" id="password" type="password">
        <button type="submit" id="login">Login</button>
    </form>
</div>
<div id="main-block">
    <h1>You are logged in!</h1>
    <button id="logout">Logout</button>
</div>
<script src="/script.js"></script>
</body>
</html>